.product-slider::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.product-slider {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

input[type="checkbox"]:checked {
  background-color: #16a34a;
}
